<body class="bg-light">
  <header>
    <%= render 'layouts/navbar' %>
  </header>
  <main>

    <div class="container">
      <div class="mt-5 box-rounded border-fill bg-white">

        <div class="d-flex justify-content-around profile-box mb-0">
          <div class="border-fill box-rounded text-center col-4 py-4 px-3">

            <% if @user.avatar.attached? %>
              <img src="<%= (url_for(@user.avatar)) %>" class="avatar">
            <% else %>
              <img src="<%= (url_for("layout/CCG_iconlogo_yellow.png")) %>" class="avatar">
            <% end %>

            <div class="my-3">
              <h3><strong><%= @user.username %></strong></h3>

              <% if @user.tagline %>
                <h5><%= @user.tagline %></h5>
              <% end %>

              <p>member since: <%= @user.created_at.strftime("%B") %> <%= @user.created_at.year %></p>

            </div>
          </div>

          <div class="col-6 py-5 text-start">
            <% if @user.bio %>
              <h5><strong>about</strong></h5>
              <p><%= @user.bio %></p>
            <% end %>

            <% if @user.website %>
              <h5><strong>website</strong></h5>
              <a href="<%= @user.website %>"><%= @user.website %></a>
            <% end %>

          </div>
        </div>

        <hr><br/>
        <div class="upload-gallery justify-content-around my-3 mx-auto">
          <% Upload.where(user_id: @user).each do |upload| %>
            <div id="uploads">
              <%= render upload %>
            </div>
          <% end %>
        </div>

      </div>
    </div>

  </main>
  <footer class="footer">©2022 CRIPPING_CG</footer>
</body>