<%= form_with(model: contact) do |form| %>
  <% if contact.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

      <ul>
        <% contact.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, "Name:", style: "font-weight: bold"%>
    <%= form.text_field :name, class: "border-fill box-rounded bg-white", style: "width: 50vw; max-width: 60vw; margin-left: 2vw; margin-bottom: 20px; padding: 0px 20px;" %>
  </div>

  <div>
    <%= form.label :email, "Email:", style: "font-weight: bold" %>
    <%= form.text_field :email, class: "border-fill box-rounded bg-white", style: "width: 50vw; max-width: 60vw; margin-left: 2vw; margin-bottom: 20px; padding: 0px 20px;"%>
  </div>

  <div>
    <%= form.label :message, "Message:", style: "font-weight: bold" %>
    <%= form.text_area :message, :rows => 7, class: "border-fill box-rounded bg-white", style: "width: 50vw; width: 60vw; padding: 0px 20px;" %>
  </div>

  <div class="text-center", style="padding: 10px 0px;">
    <%= form.submit "Send", :class => "btn-primary btn-rounded", :style => "padding: 0px 20px;" %>
  </div>
<% end %>
