<div id="<%= dom_id upload %>">
  
  <div class="my-3">
      <a href="<%= upload_path(upload) %>">
        <% if upload.thumbnail.attached? %>
          <img src="<%= (url_for(upload.thumbnail)) %>" class="horizontal-card-img box-rounded">
        <% end %>
      </a>
      <div class="horizontal-bottom border-fill">
        <a href="<%= upload_path(upload) %>">
          <p class="mb-0"><strong><%= upload.name %></strong></p>
        </a>
      <div>

  </div>

</div>
