<div id="<%= dom_id upload %>">
  
  <div class="text-center">
    <a href="<%= upload_path(upload) %>">
      <% if upload.thumbnail.attached? %>
        <img src="<%= (url_for(upload.thumbnail)) %>" class="top-rounded card-top border-fill">
      <% end %>
    </a>

    <div class="card-bottom box-rounded border-fill my-auto">
      <div>
        <a href="<%= upload_path(upload) %>">
          <h4 class="mt-5 mb-0"><strong><%= upload.name %></strong></h4>
        </a>
        <!-- button group -->
        <div class="d-flex justify-content-center mx-3 mt-1">
          <%= button_to "view", upload_path(upload), method: :get, class: "btn btn-outline-primary p-1" %>
          <%= button_to "edit", edit_upload_path(upload), method: :get, class: "btn btn-outline-primary p-1" %>
          <%= button_to "delete", upload, method: :delete, class: "btn btn-outline-primary p-1" %>
        </div>
      </div>
    </div>

  </div>
</div>
